body{
	font-size: 100%;
	font-family: serif;
	min-height: 100vh;
	color: #555;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#top-bar {
	height: 100px;
    width: 100%;
    background: #fff;
	display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

#heading { 
	font-size: 150%;
}

.table-div {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

table{
	table-layout: auto;
	width:  100%;
    z-index: 0;
}

table th{
	padding: 0!important;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
	height: 45px;
	position: relative;
}

table th button {
	border: none;
	background:inherit;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 110%;
	font-family: serif;
}

table th input {
	box-sizing: border-box;
	width: 100%;
}


.th-cell[dir="asc"]::after {
	content: "\25B2"; /* Upwards arrow */
	position: absolute;
	bottom: 0;
	right: 2px;
	font-size: 80%;
}

.th-cell[dir="desc"]::after {
	content: "\25BC"; /* Downwards arrow */
	position: absolute;
	bottom: 0;
	right: 2px;
	font-size: 70%;
}

.th-cell[dir="no"]::after {
	content: "="; 
	position: absolute;
	bottom: 0;
	right: 2px;
	font-size: 70%;
}

thead {
	z-index: 100;
    position: sticky;
    top: 0px;
}


table td{
	padding: 3px;
	border:  thin solid #d4d4d4;
	text-align: center;
	background-color: #fff;
.hidden-on-scroll {
	display: none;
}

table a:active{
	background-color: #ccf4d6;
	color:  green;
.hidden-on-filter {
	display: none;
}

table select:focus{
	outline: none;
.displayed {
	display: table-row;
}

.access-td {
	position:relative; 
	white-space:pre; 
	word-wrap:break-word; 
	z-index:1;
}

.access-div {
	width:inherit; 
	height:60px; 
	line-height:20px; 
	overflow:hidden;
}

.overflows::after {
	content: "...";
	position: absolute; 
	bottom: 0px; 
	right: 2px; 
	font-weight: bold;
}

.spelltable th:nth-child(3), .spelltable td:nth-child(3) {
    width: 15%;
}

.spelltable th:nth-child(7), .spelltable td:nth-child(7) {
    width: 170px;
}

.spelltable th:nth-child(15), .spelltable td:nth-child(15) {
    width: 100px;
}

.hidden-desc {
	display: none;
}
  
.show-desc {
	display: table-row;
}

.dropdown {
	display: flex;
	align-items: center;
	background-color: #F0F0F08F;
}

.dropdown-links {
	width: 7%;
	margin-left: 5%;
	padding: 5px;
	text-align: start;
}

.dropdown-description {
	width: 40%;
	margin-left: 5%;
	padding: 5px;
	text-align: start;
}

.dropdown-access-ways {
	font-family: serif;
	width: 25%;
	margin-left: 0.5%;
	padding: 5px;
	text-align: center;
}

.vertical {
	border-left: 2px solid black;
}

.description {
	height:70px; 
    overflow: hidden;
}

a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: underline;
}

#sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
	height: 20px;
    width: 100%;
	z-index: 90;
    background-color: #f0f0f0; 
    border-top: 1px solid #ccc;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
	padding-right: 15px;
	box-sizing: border-box;
}

.bottom-button {
    text-decoration: underline;
    cursor: pointer;
	border: none;
	margin-right: 20px;
	padding: 0px;
}

.bottom-link {
	margin-right: 20px;
	padding: 0px;
}

.bottom-link, .bottom-link:visited {
	color: rgb(50, 50, 50);
}

.help-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0; 
	font-size: 120%;
	font-family: serif;
  }

.help-content {
	text-align: start; 
}
