body{
	font-size: 100%;
	font-family: serif;
	min-height: 100vh;
	color: #555;
	margin: 0;
	padding: 0;
}

.topFixedBar
{
    position: fixed;
    width: 100%;
    background: #fff;
	height: 30px;
	z-index: 1000;
}

.table_div{
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

table{
	table-layout: auto;
	width:  100%;
    z-index: 0;
}

table th{
	padding: 0!important;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
	height: 40px;
}

table th button {
	border: none;
	background:inherit;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 110%;
	font-family: serif;
}

table th input {
	box-sizing: border-box;
	width: 100%;
}

thead {
	z-index: 100;
    position: sticky;
    top: 0px;
}


table td{
	padding: 3px;
	border:  thin solid #d4d4d4;
	text-align: center;
	background-color: #fff;
}

table a{
	text-decoration: none;
	color: darkred;
	background-color: #ffecef;
	padding: 10px 15px;
}

table a:active{
	background-color: #ccf4d6;
	color:  green;
}

table select:focus{
	outline: none;
}

.table1 th:nth-child(2), .table1 td:nth-child(2) {
    width: 15%;
}

.table1 th:nth-child(6), .table1 td:nth-child(6) {
    width: 170px;
}


.hidden-row {
	display: none;
}
  
.show-row {
	display: table-row;
}

.dropdown {
	display: flex;
	align-items: center;
	background-color: #F0F0F08F;
}


.dropdown-description {
	width: 40%;
	margin-left: 15%;
	padding: 5px;
	text-align: start;
}

.dropdown-access-ways {
	font-family: serif;
	width: 30%;
	margin-left: 0.5%;
	padding: 5px;
	text-align: center;
}

.vertical {
	border-left: 2px solid black;
}

.description {
	height:70px; 
    overflow: hidden;
}
